* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: 100vh;
}